<?xml version="1.0" encoding="UTF-8"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2">
    <file original="" product-name="{xliffTranslation.productName}" source-language="{xliffTranslation.sourceLanguage}"<f:if condition="{xliffTranslation.targetLanguage}"> target-language="{xliffTranslation.targetLanguage}"</f:if> datatype="plaintext">
        <body><f:for each="{xliffTranslation.transUnits}" as="transUnit">
            <trans-unit id="{transUnit.id}" xml:space="preserve">
                <source><f:if condition="{transUnit.source}"><f:then>{transUnit.source}</f:then><f:else>#{xliffTranslation.productName}:{transUnit.id}</f:else></f:if></source><f:if condition="{xliffTranslation.targetLanguage}">
                <f:if condition="{transUnit.target}"><f:then><target>{transUnit.target}</target></f:then><f:else><target>#{xliffTranslation.productName}:{transUnit.id}</target></f:else></f:if></f:if>
            </trans-unit></f:for>
        </body>
    </file>
</xliff>
